$bg-color: rgb(18 18 18);

* {
  font-family: SF Pro Display;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
  border: 0px;
}

label {
  background-color: $bg-color;
  border: 0px;
}

.calendar-window,
.win {
  background-color: $bg-color;
  padding-right: 8px;
}

.calendar-window {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid black;
}

calendar.highlight {
  background-color: rgb(7, 7, 7);
}

calendar:selected {
  color: rgb(11, 11, 11);
  background-color: white;
  border-radius: 8px;
}

.battery-outer {
  border: 2px solid gray;
  border-radius: 6px;
  padding: 1px;
}

.battery-inner {
  background-color: white;
  border-radius: 3px;
}


.volume-icon {
  -gtk-icon-effect: highlight;
}

.active-workspace {
  background-color: rgb(200, 200, 200);
  color: black;
}

