
.DS*

# not necessary
fish/completions/
fish/conf.d/
fish/functions/
fish/themes/
fish/fish_plugins
fish/fish_variables
fish/fishd*
fish/binaries.fish
kitty/kitty-themes/

zathura/
sxhkd/
bspwm/
polybar/
lvim/
tmux/
fzf*
picom/
emacs
xsettingsd


